body{
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/b8/Etihad_Stadium.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.box {
    /* Absolute Position */
    position: absolute;
    width: 400px;
    height: 300px;
    background: #2db34a;
    border: 2px solid black;
  }
  
.box-gray {
    /* Absolute Position */
    position: absolute;
    width: 400px;
    height: 300px;
    background: #504747;
    border: 2px solid black;
  }

  /* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */
  
  .box-1 {
    top: 6%;
    left: 2%;
  }
  
  h3 {
    color: white;
    font-weight: bold;
    background-color: teal;
    border-color: teal;
    font-size: 18px;
  }