<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Premier League 20-21</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    
 

</head>

<body>
    
    <div class="container-fluid text-white">
        <div class="jumbotron jumbotron-fluid text-center bg-secondary rounded">
            <h1>Premier League Statistical Leaders 2020-2021</h1>
            <p>Statistical comparisions for the 2020-2021 Premier League Season.</p>
        </div>
    </div>
    <div class="container-fluid text-white bg-secondary rounded">
        <div class="row">
            <div class="col-12">
                <p>This project is intended to visualize the Premier League for the 2020-2021 season. The first dropdown shows the top 10 players by different categories. From there, you can compare two players to see who had the better season. Finally, we have a map showing country of origin for all players that season.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid text-white bg-secondary">
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h5>Top 10 PLayers</h5>
                    <select id="selDataset" onchange="optionChanged(this.value)">
                        <option value="Assists">Assists</option>
                        <option value="Passes">Passes</option>
                        <option value="Goals">Goals</option>
                    </select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                    <div id="bar" class="panel-body">
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-6 bg-secondary rounded">
                <h5>Player Comparison</h5>
                <div id="playerComp">Player 1 vs Player 2</div>
                <select id="player1" onchange="plotComparison()"></select>
                <select id="player2" onchange="plotComparison()"></select>
                <div id="comparison"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div id="bubble"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/app.js"></script>
    <script type="text/javascript" src="https://res.cloudinary.com/veseylab/raw/upload/v1636192990/magicmouse/magic_mouse-1.2.1.cdn.min.js"></script>
    <script type="text/javascript">
        options = {
        "cursorOuter": "circle-basic",
        "hoverEffect": "circle-move",
        "hoverItemMove": false,
        "defaultCursor": false,
        "outerWidth": 30,
        "outerHeight": 30
          };
        magicMouse(options);
    </script>

</body>
</html>
